*{
    margin: 0;
    padding: 0;
}

.phone{
    padding-top: : 70px;
    height: 650px;
    float: right;
    margin: 10px;
}

body{
    background-color: #FAFAFA!important;
}

.container{
    margin-top: 20px;
}

.right-column{
    background: #FFF;
    border: 1px solid #E6E6E6;
    width: 350px;
    margin: 10px;
    padding: 40px;
}

.insta-logo{
    margin: 15px auto;
    max-width: 100%;
}

.info{
    font-weight: 600px;
    line-height: 20px;
    font-size: 17px;
    color: #999;
}

button img{
    max-width: 16%;
    padding: 0 8px 2px; 
}

.or{
    font-size: 13px !important;
    color: #999;
    font-weight: 600;
}

.or::before{
    content:'';
    background: #EFEFEF;
    display: block;
    height: 2px;
    width: 110px;
    position: relative;
    top: 11px;
}

.or::after{
    content:'';
    background: #EFEFEF;
    display: block;
    height: 2px;
    width: 110px;
    position: relative;
    bottom: 11px;
    left: 160px;
}

.form-group{
    margin-bottom: 6px!important;
    
}

.form-control{
    background: #FAFAFA !important;
    border: 1px solid #EFEFEF!important;
    font-size: 12px!important;
}

::placeholder{
    color: #999!important;
}

.btn {
    margin: 12px auto;
    padding: 2px!important;
    font-weight: 600!important;
}

.btn-primary{
    background-color: #3897F0!important;
    border: 1px solid #3897F0!important;
}

.terms{
    line-height: 18px;
    font-size: 14px;
    color: #999;
    margin: 5px 20px;
    
}

.right-column-login{
    background: #FFF;
    border: 1px solid #E6E6E6;
    width: 350px;
    margin: 10px;
    padding: 8px;
}

.right-column-login a:hover{
    text-decoration: none;
}

.right-column-login p{
    margin-top: 11px;
}



